<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="AsosVO" type="com.ksmartpia.acube.weatherasos.model.AsosVO"/>
		<typeAlias alias="UltraSrtVO" type="com.ksmartpia.acube.weatherasos.model.UltraSrtVO"/>
		<typeAlias alias="WntyNcstVO" type="com.ksmartpia.acube.weatherasos.model.WntyNcstVO"/>
	</typeAliases>
</configuration>

